@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Open-sans';
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
}

html,body {
  font-family: 'Open-sans' !important;
  background: #f7f3f3;
}

/* Input Fields */
.form-control:focus {
  outline: none;
  border: 1px solid #36c;
  transition: 500ms ease;
  box-shadow: none;
}
